.cache/
auto-save-list/
eln-cache/
elpa/
transient/
.vscode/alive/fasl/tmp.lisp
fonts-installed-vlisp.vmacs
DOOMED.vmacs
recentf
projects
test-thing.lisp~
test-thing.lisp
init.el~
history
.emacs.desktop
\#test-thing.lisp\#
\#init.el\#
.emacs.desktop.lock
places
.fonts-installed-vlisp
recentf~
.vmacs-fonts-installed
.vmacs-fully-initialized
luamacs.o
luamacs.so
url/


.dub
docs.json
__dummy.html
docs/
/lua_mode
lua_mode.so
lua_mode.dylib
lua_mode.dll
lua_mode.a
lua_mode.lib
lua_mode-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
liblua_mode.so