.cache/
auto-save-list/
eln-cache/
elpa/
transient/
.vscode/alive/fasl/tmp.lisp
fonts-installed-vlisp.vmacs
DOOMED.vmacs
recentf
projects
test-thing.lisp~
test-thing.lisp
init.el~
history
.emacs.desktop
\#test-thing.lisp\#
\#init.el\#
.emacs.desktop.lock
places
.fonts-installed-vlisp
recentf~
.vmacs-fonts-installed
.vmacs-fully-initialized
luamacs.o
